<div class="container">
  <div class="left-side">
      <h1 class="left-side-font">Discipline name</h1>
    <div *ngfor="let lecture of lectures">
      <ul>
        <li>Week 1: {{lecture.name}}</li>
        <li>Week 2: {{lecture.name}}</li>
        <li>Week 3: {{lecture.name}}</li>
        <li>Week 4: {{lecture.name}}</li>
        <li>Week 5: {{lecture.name}}</li>
        <li>Week 6: {{lecture.name}}</li>
        <li>Week 7: {{lecture.name}}</li>
        <li>Week 8: {{lecture.name}}</li>
        <li>Week 9: {{lecture.name}}</li>
        <li>Week 10:{{lecture.name}}</li>
        <li>Week 11:{{lecture.name}}</li>
        <li>Week 12:{{lecture.name}}/li>
        <li>Week 13:{{lecture.name}}</li>
        <li>Prepare to final</li>
      </ul>
    </div>
  </div>

  <div class="right-side">
    <h1>Topic name</h1>
    <button id="home"><a  [routerLink]="'/home'">Home</a> </button>
    <hr>
    <h3>1.0 Paragraph</h3>
    <p>Content of paragraph</p>
    <h3>1.0 Task</h3>
    <p>Description</p>
  </div>
</div>
